[Desktop Entry]
Version=1.0
Type=Application

Name=Grassy
Comment=Minecraft server manager

Exec=grassy
Icon=grassy

Terminal=false
Categories=Game;
StartupNotify=true

StartupWMClass=org.bongo.grassy
